ul#merlot_widget{

	text-align:center;

}

ul#merlot_widget li p{

	margin:0px;
	padding:0px;

}

ul#merlot_widget li p span{

	display:none;
	text-align:left;

}

ul#merlot_widget li p a.wikipedia-widget-link{

	cursor:hand;
	cursor:pointer;
	
}

ul#merlot_widget li p span:first-child{

	display:block;
	text-align:center;

}